@import "./variables.scss";
@import "./material-icons.scss";
@import "~material-components-web/material-components-web";
//@import "~@material/theme/mdc-theme";
//@import "~@material/drawer/mdc-drawer";
//@import "~@material/toolbar/mdc-toolbar";
//@import "~@material/button/mdc-button";
//@import "~@material/layout-grid/mdc-layout-grid";
//@import "~@material/card/mdc-card";
//@import "~@material/list/mdc-list";
//@import "~@material/textfield/mdc-textfield";
//@import "~@material/form-field/mdc-form-field";
// Here
//@import "~@material/animation/mdc-animation";

//@import "~@material/grid-list/mdc-grid-list";

//@import "~@material/typography/mdc-typography";

//@import "~@material/dialog/mdc-dialog";

//@import "~@material/elevation/mdc-elevation";

//@import "~@material/menu/mdc-menu";

//@import "~@material/ripple/mdc-ripple";
//@import "~@material/select/mdc-select";

//@import "~@material/switch/mdc-switch";

//@import "~@material/icon-toggle/mdc-icon-toggle";

//@import "~@material/checkbox/mdc-checkbox";
//@import "~@material/snackbar/mdc-snackbar";
//@import "~@material/radio/mdc-radio";
//@import "~@material/fab/mdc-fab";