@import '../../styles/variables.scss';

.root {
  background-color: $black-light;
  justify-content: center;
  padding: 15px 0;
  text-align: center;

  span {
    color: $white;
    text-decoration: none;
  }
}
