
logs
*.log
npm-debug.log*

node_modules
jspm_packages
.npm
.node_repl_history
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/vcs.xml
.idea/jsLibraryMappings.xml
.idea/dataSources.ids
.idea/dataSources.xml
.idea/dataSources.local.xml

.idea/libraries

.coverage

*.log

.env

.Python
db.sqlite3
static
/Procfile
/Dockerfile
/LICENSE
/runtime.txt
/.gitattributes
/docker-compose.test.yml
/.gitignore
/graphql.config.json
/.buildpacks
/docker-compose.yml
/circle.yml
/README.md
/.eslintrc
