@import '../../styles/variables.scss';

.navRoot {
  .toolbarRow {
    //height: 55px !important;
    //padding: 10px 20px !important;
    .title {
      color: $white;
    }
  }
  button {
    color: white !important;
  }
}


.currentUserDropdown {
  position: absolute !important;
  right: 171px;
  div {
    ul {
      width: 150px;
    }
  }
}
