@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import '../../styles/variables.scss';

.root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
//Used to pin footer to bottom
.content {
  flex: 1;
}

body {
  margin: auto;
  font-family: Roboto, sans-serif;
}

