@import '../../../styles/variables.scss';

.root {
  position: fixed;
  display: flex;
  background: $mdc-theme-primary;
  justify-content: center;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}